section {
  color: #fff;
  text-align: center;
}

div {
  height: 100%;
}

article {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 20px;
}

h1 {
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 1.75rem;
  margin: 0 0 0.75rem 0;
}

.container {
  display: table;
  width: 100%;
}

.left-half {
  background-image: url('../../assets/img/summer-promo.jpg');
  width: 50%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: inherit; */
  position: absolute;
  left: 0px;
  width: 50%;
  border-width: thick;
  border-style: solid;
  border-color: #FFF;
  color: black;
}

#summer {
  margin-bottom: 65%;
}

#summer a {
  text-decoration: none;
  color: black;
}

.right-half {
  background-image: url('../../assets/img/behind-mac.jpg');
  width: 50%;
  background-size: cover;
  position: absolute;
  right: 0px;
  width: 50%;
  border-width: thick;
  border-style: solid;
  border-color: #FFF;
}

a {
  text-decoration: none;
  color: #FFF;
  margin: 1%;
}
