<section class="container">
  <div class="left-half">
    <article>
      <div id="summer">
        <h1>Turn Up Summer</h1>
        <p><a href="https://www.apple.com/us-hed/shop/back-to-school" class="unit-link" tabindex="0">Buy a Mac or Ipad Pro for college. Get Beats on us.</a></p>
    </div>
    </article>
  </div>
  <div class="right-half">
    <article>
      <h1>Behind Mac</h1>
      <p> <a href="https://www.apple.com/">Watch the film ></a>  <a href="https://www.apple.com/mac/"> Explor Mac ></a> </p>
    </article>
  </div>
</section>
