<nav id="apple-navbar">
  <div id="navbar-container">
    <ul>
      <li><a href="https://www.apple.com/" class="fa fa-apple" alt="homepage"></a></li>
      <li><a href="https://www.apple.com/mac/">Mac</a></li>
      <li><a href="https://www.apple.com/ipad/">iPad</a></li>
      <li><a href="https://www.apple.com/iphone/">iPhone</a></li>
      <li><a href="https://www.apple.com/watch/">Watch</a></li>
      <li><a href="https://www.apple.com/tv/">TV</a></li>
      <li><a href="https://www.apple.com/music/">Music</a></li>
      <li><a href="https://support.apple.com/">Support</a></li>
      <li><a href="https://www.apple.com/" class="fa fa-search" alt="search"></a></li>
      <li><a href="https://www.apple.com/" class="fa fa-shopping-cart" alt="cart"></a></li>
    </ul>
  </div>
</nav>
