<nav id="apple-navbar">
  <div id="navbar-container">
    <ul>
      <li><a routerLink="" class="fa fa-apple" alt="homepage"></a></li>
      <li><a routerLink="mac">Mac</a></li>
      <li><a routerLink="ipad">iPad</a></li>
      <li><a routerLink="iphoneX">iPhone</a></li>
      <li><a routerLink="apple-watch">Watch</a></li>
      <li><a href="https://www.apple.com/tv/">TV</a></li>
      <li><a href="https://www.apple.com/music/">Music</a></li>
      <li><a href="https://support.apple.com/">Support</a></li>
      <li><a href="https://www.apple.com/" class="fa fa-search" alt="search"></a></li>
      <li><a href="https://www.apple.com/" alt="cart"><img src="../../assets/img/image_small.svg" id="shop-bag"></a></li>
    </ul>
  </div>
</nav>
