#apple-navbar {
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  overflow: hidden;
}

li {
  text-align: center;
  display: inline-block;
  list-style: none;
  margin-left: 40px;
  margin-right: 40px;
  width: auto;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 14px;
  font-weight: 375;
}

a {
  text-decoration: none;
  color: #FFF;
}

.fa-apple {
  font-size: 1.5em;
}

.fa-search {
  font-size: 1.5em;
}

/* .fa-shopping-cart {
  font-size: 1.5em;
} */

#shop-bag {
  margin-bottom: -17px;
}
