<div class="unit-image-wrapper image-constraints-full">
    <div class="unit-wrapper">
      <div class="unit-copy-wrapper">
        <h2 class="headline" aria-hidden="true">iPhone X</h2>
        <h3 class="subhead" aria-hidden="true">Say hello to the future.</h3>
      </div>
      <div class="iphoneX-links">
        <a href="https://www.apple.com/iphone-x/">Learn more ></a>
        <a href="https://www.apple.com/shop/buy-iphone/iphone-x">Buy ></a>
      </div>
      <a href="https://www.apple.com/iphone-x/" class="unit-link" tabindex="0"><img src="./assets/img/iphoneX.jpg" alt="iphoneX"></a>
    </div>
</div>
