<section class="container">
  <div class="left-half">
    <article>
      <h1>iPhone8</h1>
      <p>A new generation of iPhone.</p>
      <a href="https://www.apple.com/iphone-8/">Learn more ></a> <a href="https://www.apple.com/shop/buy-iphone/iphone-8"> Buy ></a>
    </article>
  </div>
  <div class="right-half">
    <article id=sports>
        <h1>Three rings. One goal.</h1>
        <p><a href="https://www.apple.com/watch/close-your-rings/" id="ring">See how to close your Activity rings on
        Apple Watch.</a></p>
    </article>
  </div>
</section>
