.watch-content {
  list-style: none;
  display: inline-block;
  margin: 3%;
  font-size: 9px;
  text-align: center;
  margin-left: 5%;
}

#fix-watch {
  height: 25%;
  width: 25%;
}

#fix-watch2 {
  height: 25%;
  width: 25%;
}
.watch-links {
  text-align: center;
}

a {
  text-decoration: none;
  color: #0070c9;
  font-size: 19px;
  margin: 1.5%;
  font-weight: 350;
  text-align: center;
}
