<div class="watch-navbar">
  <ul>
    <a href="https://www.apple.com/apple-watch-series-3/"><li class="watch-content"><img id="fix-watch" src="../../assets/img/watch_nav_series_2_large.svg"><br>Apple Watch Series 3</li></a>
    <a href="https://www.apple.com/apple-watch-nike/"><li class="watch-content"><img src="../../assets/img/watch_nav_nike_large.svg"><br>Apple Watch Nike+</li></a>
    <a href="https://www.apple.com/apple-watch-hermes/"><li class="watch-content"><img src="../../assets/img/watch_nav_hermes_large.svg"><br>Apple Watch Hermès</li></a>
    <a href="https://www.apple.com/apple-watch-edition/"><li class="watch-content"><img src="../../assets/img/watch_nav_edition_large.svg"><br>Apple Watch Edition</li></a>
    <a href="https://www.apple.com/apple-watch-series-1/"><li class="watch-content"><img id="fix-watch2" src="../../assets/img/watch_nav_series_2_large.svg"><br>Apple Watch Series 1</li></a>
    <a href="https://www.apple.com/watchos/"><li class="watch-content"><img src="../../assets/img/watch_nav_watch_os_large.svg"><br>WatchOS</li></a>
    <a href="https://www.apple.com/shop/watch/bands"><li class="watch-content"><img src="../../assets/img/watch_nav_bands_large.svg"><br>Bands</li></a>
  </ul>
</div>
<div class="series-three">
  <h2 id="series3-banner"><img src="../../assets/img/series_3_banner.png" alt=""> </h2>
  <div class="watch-links">
    <a href="https://www.apple.com/iphone-x/">Learn more ></a>
    <a href="https://www.apple.com/shop/buy-iphone/iphone-x">Buy ></a>
  </div>
</div>
