<div class="watch-navbar">
  <ul>
    <li class="watch-content"><img src="../../assets/img/watch_nav_series_2_large.svg">Apple Watch Series 3</li>
    <li class="watch-content"><img src="../../assets/img/watch_nav_nike_large.svg">Apple Watch Nike+</li>
    <li class="watch-content"><img src="../../assets/img/watch_nav_hermes_large.svg">Apple Watch Hermès</li>
    <li class="watch-content"><img src="../../assets/img/watch_nav_edition_large.svg">Apple Watch Edition</li>
    <li class="watch-content"><img src="../../assets/img/watch_nav_series_2_large.svg">Apple Watch Series 1</li>
    <li class="watch-content"><img src="../../assets/img/watch_nav_watch_os_large.svg">WatchOS</li>
    <li class="watch-content"><img src="../../assets/img/watch_nav_bands_large.svg">Bands</li>
  </ul>
</div>
